In [1]:
import numpy as np
import numpy_financial as npf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import names

from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split

# .map('{:,.2f}'.format) - - - for big numbers

In [3]:
print('hi')

hi

In [11]:
spacex_df = pd.read_csv('/Users/jakemeissner/Documents/datasets/starlink_launches.csv', encoding='cp1252')
spacex_df.head()

,mission_number,mission_name,satellite_ver,launch_date,launch_vehicle,orbit_altitude,orbit_inclination,satellite_deployed,satellite_working,launch_outcome,launch_sites
0,–\r\n,Tintin,v0.1\r\n,22 Feb 2018,F9 FT <U+267A> B1038.2,514 km (319 mi)\r\n,97.5°,2,0,Success\r\n,"VAFB , SLC-4E"
1,1\r\n,v0.9,v0.9\r\n,24 May 2019,F9 B5 <U+267A> B1049.3,440–550 km (270–340 mi),53.0°\r\n,60,0,Success,"SLC-4E , SLC-40"
2,2\r\n,L1,v1.0\r\n,11 November 2019,F9 B5 <U+267A> B1048.4\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,52,Success\r\n,"CCAFS , SLC-40"
3,3\r\n,L2\r\n,v1.0\r\n,7 January 2020,F9 B5 <U+267A> B1049.4\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,48,Success\r\n,"SLC-40 , SLC-40"
4,4\r\n,L3\r\n,v1.0\r\n,29 January 2020,F9 B5 <U+267A> B1051.3\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,50,Success\r\n,"CCAFS , SLC-40"

In [12]:
spacex_df.sort_values('satellite_deployed', ascending=False)

,mission_number,mission_name,satellite_ver,launch_date,launch_vehicle,orbit_altitude,orbit_inclination,satellite_deployed,satellite_working,launch_outcome,launch_sites
58,21\r\n,L20\r\n,v1.0\r\n,11 March 2021,F9 B5 <U+267A> B1058.6\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,60,Success\r\n,"KSC , SLC-40"
27,26\r\n,L25\r\n,v1.0\r\n,4 May 2021,F9 B5 <U+267A> B1049.9\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,60,Success\r\n,"LC-39A , LC-39A"
59,22\r\n,L21\r\n,v1.0\r\n,14 March 2021,F9 B5 <U+267A> B1051.9\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,59,Success\r\n,"LC-39A , LC-39A"
30,29\r\n,L28\r\n,v1.0\r\n,26 May 2021,F9 B5 <U+267A> B1063.2\r\n,550 km (340 mi),53.0°\r\n,60,60,Success\r\n,"CCAFS , SLC-40"
64,27\r\n,L27\r\n,v1.0\r\n,9 May 2021,F9 B5 <U+267A> B1051.10\r\n,550 km (340 mi)\r\n,53.0°\r\n,60,58,Success\r\n,"VSFB , SLC-40"
...,...,...,...,...,...,...,...,...,...,...,...
18,–\r\n,Tr-1\r\n,v1.0\r\n,24 January 2021,F9 B5 <U+267A> B1058.5\r\n,560 km (350 mi)\r\n,97.5°,10,10,Success\r\n,"CCAFS , SLC-40"
31,–\r\n,Tr-2\r\n,v1.0\r\n,30 June 2021,F9 B5 <U+267A> B1060.8\r\n,560 km (350 mi)\r\n,97.5°\r\n,3,3,Success\r\n,"SLC-40 , SLC-40"
67,–\r\n,Tr-2\r\n,v1.0\r\n,30 June 2021,F9 B5 <U+267A> B1060.8\r\n,560 km (350 mi)\r\n,97.5°\r\n,3,3,Success\r\n,"SLC-40 , SLC-40"
0,–\r\n,Tintin,v0.1\r\n,22 Feb 2018,F9 FT <U+267A> B1038.2,514 km (319 mi)\r\n,97.5°,2,0,Success\r\n,"VAFB , SLC-4E"
36,–\r\n,Tintin,v0.1\r\n,22 Feb 2018,F9 FT <U+267A> B1038.2,514 km (319 mi)\r\n,97.5°,2,0,Success\r\n,"CCSFS , SLC-4E"

In [13]:
spacex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mission_number      72 non-null     object
 1   mission_name        72 non-null     object
 2   satellite_ver       72 non-null     object
 3   launch_date         72 non-null     object
 4   launch_vehicle      72 non-null     object
 5   orbit_altitude      72 non-null     object
 6   orbit_inclination   72 non-null     object
 7   satellite_deployed  72 non-null     int64
 8   satellite_working   72 non-null     int64
 9   launch_outcome      72 non-null     object
 10  launch_sites        72 non-null     object
dtypes: int64(2), object(9)
memory usage: 6.3+ KB

In [14]:
spacex_df.describe()

       satellite_deployed  satellite_working
count           72.000000          72.000000
mean            54.000000          49.555556
std             15.231546          16.964660
min              2.000000           0.000000
25%             57.750000          51.000000
50%             60.000000          55.000000
75%             60.000000          59.000000
max             60.000000          60.000000

In [15]:
spacex_df.value_counts('launch_outcome')

launch_outcome
Success\r\n    70
Success         2
dtype: int64